




h1 {
    margin: auto;
    font-size: 30px;
    color: white;
    text-align: center;
    margin-bottom: 0%;
    background-image: linear-gradient(to right, rgb(40, 106, 160) , rgb(24, 24, 107));
}